/* ===== Clash Display (400/500/600/700) ===== */
@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/clash-display/ClashDisplay-Regular.woff2")
      format("woff2"),
    url("/assets/fonts/clash-display/ClashDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/clash-display/ClashDisplay-Medium.woff2")
      format("woff2"),
    url("/assets/fonts/clash-display/ClashDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/clash-display/ClashDisplay-Semibold.woff2")
      format("woff2"),
    url("/assets/fonts/clash-display/ClashDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/clash-display/ClashDisplay-Bold.woff2")
      format("woff2"),
    url("/assets/fonts/clash-display/ClashDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
