.edit-elements {
  position: relative;
}
.edit-elements .edit-dot {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 22px;
  height: 22px;
  padding: 0;
  border-radius: 324px;
  background-color: #ff6d90;
  text-align: center;
  transform: translate(-50%, -50%);
}
.edit-elements .edit-dot.right {
  left: auto;
  right: 0;
}
.edit-elements .edit-dot.middle {
  top: 50%;
  transform: translateY(-50%);
}
.edit-elements .edit-dot.inner {
  transform: translate(50%, 50%);
}
.edit-elements .edit-dot.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
